.form-header {
  padding-top: 2.5em;
}
.form-list {
  list-style-type: none;
  padding-top: 1.4em;
}
input {
  width: 20em;
  height: 2.5em;
  margin-bottom: 2em;
  padding-left: 0.3em;
  border-radius: 4%;
  border-style: none;
}
textarea {
  padding-left: 0.3em;
  border-radius: 4%;
  border-style: none;
}
.form-image {
  padding-top: 2em;
  img {
    width: 20em;
  }
}
