@use "variables" as v;
body {
  font-family: v.$font;
}
h1 {
  font-size: 2.9rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.4rem;
}
button {
  font-family: v.$font;
  font-size: 1.3rem;
}
p {
  font-size: 1.3rem;
}
.brand-name {
  font-size: 1.2rem;
}
